.breadcrumbs
  .breadcrumbs__breadcrumb
    = link_to(root_path, class: 'breadcrumbs__breadcrumb__name') do
      メルカリ
    = icon('fa', 'chevron-right', class: 'breadcrumbs__breadcrumb__icon')
    = link_to(root_path, class: 'breadcrumbs__breadcrumb__name') do
      マイページ
    = icon('fa', 'chevron-right', class: 'breadcrumbs__breadcrumb__icon')
    .breadcrumbs__breadcrumb__name-last
      プロフィール
