.mypage-wrapper {
  @include flex_row_start();
  background-color: $main_light_gray;
  padding-top: 40px;
  margin: 0 auto 0;
}

.mypage {
  background-color: $main_light_gray;
  margin: 0 0 0 40px;

  &__main {
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    width: 700px;

    &__profile {
      background-image: url("/bokeh.jpg");
      position: relative;
      height: 180px;
      padding: 20px;
      background-size: cover;
      text-align: center;

      &__figure {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;

        &__data {
          margin: 8px 0 0;
          font-size: 1;
        
          &__evaluation {
            display: inline-block;
            font-size: 14px;
          }
          &__number {
            display: inline-block;
            font-size: 14px;
            margin: 0 0 0 16px;
          }
          &__span {
            margin: 0 0 0 8px;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
      &__name {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 600;
      }

      a{
        text-decoration: none;
      }
    
      &__link {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #333;
      }
    }
    &__notification-todo {
      width: 700px;
      background-color: #fff;
      margin: 0;
      display: block;
    
      &__tabs {
        width: 700px;
        height: 74px;
        border: 0;
        background: #eee;
        font-size: 1;
        list-style: none;
        display: flex;
        justify-content: space-between;
        text-align: center;

        &__notification {
          background-color: #fff;
          width: 350px;
          list-style: none;
        
          &__link {
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
            border-top: 2px solid #ea352d;
            font-weight: bold;
          }        
          &__span {
            position: absolute;
            top: 3px;
            right: 2px;
            width: 24px;
            height: 24px;
            background: #ea352d;
            text-align: center;
            line-height: 24px;
            color: #fff;
            border-radius: 50%;
          }
        }
        &__todo {
          width: 350px;
          display: inline-block;
          vertical-align: top;
          &__link {
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
            font-weight: bold;
          } 

          &__span {
            top: 16px;
            right: 2px;
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #ea352d;
            text-align: center;
            line-height: 24px;
            color: #fff;
            -webkit-transform: translate(0,-50%);
            transform: translate(0, -50%);
          }
        }
      }
      &__content {
        display: block;

        &__notification__li {
          position: relative;
          border-bottom: 1px solid #eee;
        }
        &__notification__link {
          display: block;
          min-height: 80px;
          padding: 16px;
          color: #333;
          text-decoration: none;
          position: relative;
        }
        &__notification__figure {
          float: left;
          margin: 0px;          
        }
        &__notification__img {
          display: block;
          float: left;
        } 
        &__notification__text {
          margin: 0 40px 0 68px;
          text-align: left;
          line-height: 1.5;

          &__time {
            display: block;
          }
        }
          &__time {
          margin: 0 8px 0 0;
          display: block;
          float: left;
          margin-top: 5px;
          color: #aaa;
          }
        &__mark {
          position: absolute;
          right: 16px;
          display: inline-block;
          font-size: medium;
          }
        &__list {
          padding: 16px;
          &__link {
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
    &__product {
      margin: 40px 0 0;
      background: #fff;
      width: 700px;
      &__head {
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        padding: 0 16px;
        font-weight: bold;
      }
      &__tabs {
        border: 0;
        background: #eee;
        display: block;
        display: flex;
        &__during-trading {
          background: #fff;
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          &__link {
            border-top: 2px solid #ea352d;
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
            font-weight: bold;
          }
        }
        &__after-trading {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          &__link {
            display: inline-block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
            font-weight: bold;
          } 
        }
      }
      &__content {
        height: 236px;
        position: relative;
        &__during-trading__text__img {
          position: absolute;
          top: 50px;
          left: 310px;
        }
        &__text {
          text-align: center;
          padding: 160px 0 60px;
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          font-size: 16px;
          color: #ccc;
          &__img {
            position: absolute;
            top: 50px;
            left: 310px;
          }
        }
      }
    }
  }
}
// ログアウトページ
.logout {
  width: 700px;
  height: 179px;
  background-color: #fff;
  position: relative;
  margin: 0 0 0 40px;  

  &__btn{
    color: white;
    width: 320px;
    height: 50px;
    background-color: #ea352d;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    top: 32%;
    left: 30%;
  }
}
// 本人確認ページ
.mypage-identification {
  width: 700px;
  background-color: #fff;
  position: relative;
  &__head {
    font-size: 24px;
    padding: 8px 24px;border-bottom: 1px solid #f5f5f5;
    text-align: center;
    h2 {
      line-height: 1.4;
    }
  }
  &__forms {
    padding: 64px;
    border-top: 1px solid #f5f5f5;
    p {
      margin: 8px 0 0;
      line-height: 1.5;
      display: block;
      font-size: 14px;
    }
    &__text-right {
      text-align: right;
      a {
        color: #0099e8;
        text-decoration: none;        
      }
      i {
        color: #0099e8;
      }
    }
    &__form {
      margin: 40px 0 0;
      label {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
      }
      &__input {
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      &__btn {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;        
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}