.new-product-main {
  background-color: $light_gray;

  &__center {
    width: 700px;
    margin: auto;
    background-color: white;

    &__head {
      height: 97px;
      text-align: center;
      line-height: 97px;
      font-size: 22px;
      font-weight: bold;
    }

    &__image {
      padding: 40px;
      border-top: 1px solid #eee;

      &--flex {
      @include flex_row_start();

        &__title {
          font-weight: bold;
        }

        &__necessary {
          padding: 1px 2px;
          margin-left: 8px;
          background-color: $main_red;
          color: white;
          font-size: 12px;
        }
      }

      &__explanation {
        margin-top: 8px;
        font-size: 14px;
        margin-bottom: 16px;
      }


        &__label {

        &__text-field {
          width: 100%;
          background-color: #F5F5F5;
          border: 1px dashed #ccc;
          text-align: center;
        }

        &__file-field {
          display: none;
        }
      }
    }

    &__product {
      // height: 355px;
      padding: 40px;
      border-top: 1px solid #eee;

      &--flex {
        @include flex_row_start();

        &__title {
          font-size: 14px;
          font-weight: bold;
        }

        &__necessary {
          padding: 1px 2px;
          margin-left: 8px;
          background-color: $main_red;
          color: white;
          font-size: 12px;
        }
      }

      &__text-field {
        width: 100%;
        height: 48px;
        padding: 10px 16px 8px;
        margin: 8px 0 40px;
      }

      &__text-area {
        width: 100%;
        height: 142px;
        padding: 10px;
        margin-top: 8px;
      }
    }

    &__details {
      padding: 40px;
      border-top: 1px solid #eee;

      &--flex {
        @include flex_row_between();

        &__left {
          font-size: 14px; 
          color: #888888;
        }

        &__right {
          float: right;
          width: 400px;
          margin: 0;
          &--flex {
            @include flex_row_start();

            &__title {
              font-size: 14px;
              font-weight: bold;
            }
  
            &__necessary {
              padding: 1px 2px;
              margin-left: 8px;
              background-color: $main_red;
              color: white;
              font-size: 12px;
            }
          }

          &__select {
            width: 400px;
            height: 48px;
            margin: 8px 0 40px;
          }

          &__select2 {
            width: 400px;
            height: 48px;
            margin-top: 8px;
          }
        }
      }
    }

    &__shipping {
      border-top: 1px solid #eee;
      // height: 371px;
      padding: 40px;
      @include flex_row_between();

      &__left {
        @include flex_row_start();

        &__title {
          font-size: 14px; 
          color: #888888;
        }

        &__label {

          &__link {
            text-decoration: none;
          
            &__icon {
              color: #0099E8;
              margin-top: 2px;
            }
          }
        }
      }

      &__right {
        float: right;
        width: 400px;
        margin: 0;
        &--flex {
          @include flex_row_start();

          &__title {
            font-size: 14px;
            font-weight: bold;
          }

          &__necessary {
            padding: 1px 2px;
            margin-left: 8px;
            background-color: $main_red;
            color: white;
            font-size: 12px;
          }
        }

        &__select {
          width: 400px;
          height: 48px;
          margin: 8px 0 40px;
        }

        &__select2 {
          width: 400px;
          height: 48px;
          margin-top: 8px;
        }
      }
    }

    &__price {
      // height: 299px;
      padding: 40px;
      border-top: 1px solid #eee;


      &--flex {
        @include flex_row_between();

        &__left {
          font-size: 14px; 
          color: #888888;
          @include flex_row_start();
        }

        &__right {
          float: right;
          width: 400px;
          margin: 0;

          &__top {
            @include flex_row_between();
            width: 400px;
            padding-bottom: 24px;

            &--flex {
              @include flex_row_start();


              &__title {
                font-size: 14px;
                font-weight: bold;
                line-height: 48px;
              }
    
              &__necessary {
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: $main_red;
                margin-top: 12px;
                height: 21px;
              }
            }

            &__right {
              @include flex_row_between();
              line-height: 48px;

              &__text-field {
                width: 160px;
                height: 48px;
                margin: 0 0 0 5%;
                text-align: right;            
                border-radius: 4px;
                border: 1px solid #ccc;                
              }
            }
          }

          &__center {
            @include flex_row_between();
            height: 63px;
            padding: 24px 0;
            border-top: 1px solid #eee;

            &__left{
              font-size: 14px;
              color: #333333;
            }

            &__right {
              font-size: 14px;
              color: #333333;
            }
          }

          &__bottom {
            @include flex_row_between();
            height: 83px;
            padding: 24px 0;
            border-top: 1px solid #eee;

            &__left{
              font-size: 16px;
              color: #333333;
              font-weight: 600;
            }

            &__right {
              font-size: 34px;
              color: #333333;
              font-weight: 600;
            }
          }
        }
      }
    }

    &__bottom {
      height: 329px;
      padding: 40px;
      border-top: 1px solid #eee;

      &__top {

        p {
          font-size: 14px;
        }

        &__link {
          color: #0099E8;
        }
      }

      &__submit-btn {
        width: 100%;
        height: 50px;
        margin-top: 40px;
        background-color: $main_red;
        color: white;
      }

      &__back-btn {
        width: 279px;
        height: 50px;
        padding: 0;
        margin: 24px 170.5px 0;
        font-size: 14px;
        color: white;
        background-color: #AAAAAA;
      }
    }
  }
}

.post__drop__box__container{
  display: block;
  display: flex;
  flex-wrap: wrap;
}
//プレビュー表示欄のCSS
.prev-content {
  display: flex;
  .preview-box {
    height: 162px;
    width: 112px;
    margin: 0 15px 10px 0;
    .upper-box {
      height: 112px;
      width: 100%;
      img{
        width: 112px;
        height: 112px;
      }
    }
    .lower-box {
      display: flex;
      text-align: center;
      .update-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
      .delete-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}

//投稿クリックエリアのCSS
.label-content{
  width: 620px;
  .label-box {
    display: block;
    height: 162px;
    position: relative;
    background: #f5f5f5;
    width: 100%;
    cursor: pointer;
    &__text-visible {
      position: absolute;
      top: 50%;
      left: 16px;
      right: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 81px;
      font-weight: bold;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      pointer-events: none;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

//file_fieldのcss
.hidden-content {
  .hidden-field {
    opacity: 0;
  }
}  
.hidden-checkbox {
  display: none;
}

.listing-select-wrapper__box--select {
  width: 400px;
  height: 48px;
  margin: 8px 0 0px;  
}