.signup-wrapper
  .single-header
    .single-header__logo
      = image_tag "fmarket_logo_red.svg",height: '50', width: '150'

    %nav.progress-bar2
      %ol.clearfix
        %li.progress-bar2__active
          会員情報
          .progress-bar2__active__status
        %li.progress-bar2__active__phone-number
          電話番号認証
          .progress-bar2__active__status__phone-number
        %li.progress-bar2__active__address
          お届け先住所入力
          .progress-bar2__active__status__address
        %li.progress-bar2__active__payment
          支払い方法
          .progress-bar2__active__status__payment
        %li.progress-bar2__active__complete
          完了
          .progress-bar2__active__status__complete
          
  %main.single-main
    %section.l-single-container
      %h2.l-single-head__registration 電話番号の確認
      .l-single-head__registration__form
        .l-single-content
        .text 携帯電話の番号
        %input.single-form{name: "email", placeholder: "携帯電話の番号を入力", type: "text", value: ""}/  
        = link_to "次へ進む", "/registration/:id/address", class: 'next-btn'
        .text ※携帯電話は他のユーザーに公開されることはありません。

    = render "shared/single-footer"