商品出品ページ

= render 'shared/single-header'
.new-product-main
  .new-product-main__center
    .new-product-main__center__head
    .new-product-main__center__content
      .new-product-main__center__content__left
      .new-product-main__center__content__right
      



